<template>
    <div>
        <div class="mb-8 p-2 w-full flex flex-wrap bg-grey-light">
            <div class="container mx-auto p-4 flex">
                <div class="w-full">
                    <h2 class="text-4xl text-center mb-8 font-thin">Halo Organization</h2>
                    <div class="p-8">
                        <ul class="list-reset flex border-b">
                            <li class="-mb-px mr-1">
                                <a class="bg-white inline-block py-2 px-4 text-blue-400 hover:text-blue-600 font-semibold" href="#">All</a>
                            </li>
                            <li class="mr-1">
                                <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-800 font-semibold" href="#">Create</a>
                            </li>
                        </ul>
                    </div>
                    <form class="w-full">
                        <div class="flex flex-wrap -mx-3 mb-6">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                    Name
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="text" placeholder="Jane">
                                <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
                                Location
                            </label>
                            <textarea class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="grid-first-name" type="textarea" rows="4" placeholder="Jane"></textarea>
                            <p class="text-red-500 text-xs italic">Please fill out this field.</p>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-2">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                                    Maks. Attends
                                </label>
                                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-city" type="number" placeholder="Albuquerque">
                        </div>
                        <!-- component -->
                            <div class="-mx-3 mb-2">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                                    Start
                                </label>
                                <select name="hours" class="bg-transparent text-xl appearance-none outline-none">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">10</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="text-xl mr-3">:</span>
                                <select name="minutes" class="bg-transparent text-xl appearance-none outline-none mr-4">
                                    <option value="0">00</option>
                                    <option value="30">30</option>
                                </select>
                                <select name="ampm" class="bg-transparent text-xl appearance-none outline-none">
                                    <option value="am">AM</option>
                                    <option value="pm">PM</option>
                                </select>
                            </div>
                            <div class="-mx-3 mb-2">
                                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
                                    End
                                </label>
                                <select name="hours" class="bg-transparent text-xl appearance-none outline-none">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value="11">10</option>
                                    <option value="12">12</option>
                                </select>
                                <span class="text-xl mr-3">:</span>
                                <select name="minutes" class="bg-transparent text-xl appearance-none outline-none mr-4">
                                    <option value="0">00</option>
                                    <option value="30">30</option>
                                </select>
                                <select name="ampm" class="bg-transparent text-xl appearance-none outline-none">
                                    <option value="am">AM</option>
                                    <option value="pm">PM</option>
                                </select>
                            </div>
                        <br />
                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Create
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>

</style>
