<template>
    <div>
        <div class="mb-8 p-2 w-full flex flex-wrap bg-grey-light">
            <div class="container mx-auto p-4 flex">
                <div class="w-full">
                    <h2 class="text-4xl text-center mb-8 font-thin">Halo User</h2>
                    <div class="p-8">
                        <ul class="list-reset flex border-b">
                            <li class="-mb-px mr-1">
                                <a class="bg-white inline-block py-2 px-4 text-blue-400 hover:text-blue-600 font-semibold" href="#">All</a>
                            </li>
                            <li class="mr-1">
                                <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-800 font-semibold" href="#">Join</a>
                            </li>
                        </ul>
                    </div>
                    <table class="text-left m-4" style="border-collapse:collapse">
                        <thead>
                        <tr>
                            <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Name</th>
                            <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">location</th>
                            <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">max_attends</th>
                            <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">from</th>
                            <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">until</th>
                            <th class="py-4 px-6 bg-grey-lighter font-sans font-medium uppercase text-sm text-grey border-b border-grey-light">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="hover:bg-blue-lightest">
                            <td class="py-4 px-6 border-b border-grey-light">Conversations</td>
                            <td class="py-4 px-6 border-b border-grey-light">Chubb Square 9th Floor Jl. M.H. Thamrin No. 10 Jakarta Pusat 10230</td>
                            <td class="py-4 px-6 border-b border-grey-light">50</td>
                            <td class="py-4 px-6 border-b border-grey-light">19.00</td>
                            <td class="py-4 px-6 border-b border-grey-light">20.45</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <button class="bg-red-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    Cancel
                                </button>
                            </td>
                        </tr>
                        <tr class="hover:bg-blue-lightest">
                            <td class="py-4 px-6 border-b border-grey-light">Question-Buttons</td>
                            <td class="py-4 px-6 border-b border-grey-light">Chubb Square 9th Floor Jl. M.H. Thamrin No. 10 Jakarta Pusat 10230</td>
                            <td class="py-4 px-6 border-b border-grey-light">50</td>
                            <td class="py-4 px-6 border-b border-grey-light">19.00</td>
                            <td class="py-4 px-6 border-b border-grey-light">20.45</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    Join
                                </button>
                            </td>
                        </tr>
                        <tr class="hover:bg-blue-lightest">
                            <td class="py-4 px-6 border-b border-grey-light">Image Attachment</td>
                            <td class="py-4 px-6 border-b border-grey-light">Chubb Square 9th Floor Jl. M.H. Thamrin No. 10 Jakarta Pusat 10230</td>
                            <td class="py-4 px-6 border-b border-grey-light">50</td>
                            <td class="py-4 px-6 border-b border-grey-light">19.00</td>
                            <td class="py-4 px-6 border-b border-grey-light">20.45</td>
                            <td class="py-4 px-6 border-b border-grey-light">
                                <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded">
                                    Join
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>

</style>
