<template>
    <div>
        <div class="mb-8 p-2 w-full flex flex-wrap bg-grey-light">
            <div class="w-full md:w-1/2 lg:w-1/2"></div>
            <div class="w-full md:w-1/2 lg:w-1/2">
                <div class="container mx-auto p-4 flex">
                    <div class="max-w-md w-full mx-auto">
                        <h2 class="text-4xl text-center mb-8 font-thin">Login</h2>
                        <div class="bg-white rounded-lg overflow-hidden shadow-2xl">
                            <div class="p-8">
                                <form method="POST" class="" action="#" onsubmit="return false;">
                                    <div class="mb-5">
                                        <label for="email" class="block mb-2 text-sm font-medium text-gray-600">Email</label>

                                        <input type="text" name="email" class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                                    </div>

                                    <div class="mb-5">
                                        <label for="password" class="block mb-2 text-sm font-medium text-gray-600">Password</label>

                                        <input type="text" name="password" class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none">
                                    </div>
<!--                                    <p class="text-center mb-1 font-medium">Login sebagai :</p>-->
<!--                                    <div class="mx-auto max-w-sm text-center flex flex-wrap justify-center">-->
<!--                                        <div class="flex items-center mr-4 mb-4">-->
<!--                                            <input id="radio1" type="radio" name="radio" class="hidden" />-->
<!--                                            <label for="radio1" class="flex items-center cursor-pointer">-->
<!--                                                <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>-->
<!--                                                User</label>-->
<!--                                        </div>-->

<!--                                        <div class="flex items-center mr-4 mb-4">-->
<!--                                            <input id="radio2" type="radio" name="radio" class="hidden" />-->
<!--                                            <label for="radio2" class="flex items-center cursor-pointer">-->
<!--                                                <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>-->
<!--                                                Organization</label>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <button class="w-full p-3 mt-4 bg-indigo-600 text-white rounded shadow">Login</button>
                                </form>
                            </div>

                            <div class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100">
                                <a href="#" class="font-medium text-indigo-500">Create account</a>

                                <a href="#" class="text-gray-600">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style scoped>

    input[type="radio"] + label span {
        transition: background .2s,
        transform .2s;
    }

    input[type="radio"] + label span:hover,
    input[type="radio"] + label:hover span{
        transform: scale(1.2);
    }

    input[type="radio"]:checked + label span {
        background-color: #3490DC;
    box-shadow: 0px 0px 0px 2px white inset;
    }

    input[type="radio"]:checked + label{
        color: #3490DC;
    }
</style>
